<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174140147873-uauvdlvvircr13nl94nrbakkvqp5mnqd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174140147873-uauvdlvvircr13nl94nrbakkvqp5mnqd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174140147873-5fk8ftc03u4a1mn4i5od2838ofrph9rd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCq8lVj7Hmd_YG-uoHrm1hmOGDmdN3N9dE</string>
	<key>GCM_SENDER_ID</key>
	<string>174140147873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reciplus</string>
	<key>PROJECT_ID</key>
	<string>reciplus-326005</string>
	<key>STORAGE_BUCKET</key>
	<string>reciplus-326005.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174140147873:ios:997131f2594728380a88e0</string>
</dict>
</plist>